* {
  margin: 0;
  /* padding: 0; */
  
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background: url("img/02.png");
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  letter-spacing: 1.5px;
  margin: 0;
  text-align: center;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5em;
}
ul > li {
  list-style: none;
}
.card,
.reset-btn {
  cursor: pointer;
}
.btn {
  /* border-radius: 1em; */
  border: none;
  color: #fff;
  padding: 0.5em;
}

/* Header */

h1 {
  font-size: 3em;
  font-weight: 400;
}
h2 {
  font-size: 2.5em;
  font-weight: 600;
}
p {
  font-size: 1.6em;
}
h3 {
  font-weight: 400;
}



/* Section - Score Panel */

.score-panel {
  font-size: 1.4em;
  /* padding: 1em 0 2em; */
}
.star-rating > li {
  display: inline-block;
  padding: 0.4em;
}

.line1{
  display:flex
}

.moves-counter {
  padding: 0.5em;
  font-size: 20px;
}
.reset-btn {
  background: #000;
  border-radius: 7px;
  margin-bottom: 15px;
}

.timer-container {
  color: #000;
}

/* Section - Modal */

/* Modal (background) */
.modal {
  /*Hidden by default */
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 61, 73);
  background-color: rgba(46, 61, 73, 0.6);
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 219, 219);
  margin: 5% auto;
  width: 60%;
}

/* The Close Button */
.close {
  align-self: flex-end;
  color: rgb(0, 0, 0);
  font-size: 3em;
}
.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
/* Modal Image*/
.modal-img {
  display: inline-block;
  margin: 1em 0 1em;
  width: 20em;
}
p.stats {
  /* font-style:normal; */
  font-weight: 100;
}
p.stats:last-child {
  margin-bottom: 1em;
}
.play-again-btn {
  background: rgb(0, 0, 0);
  margin-bottom: 1em;
}

/*   Deck of Cards */

/*Mobile view*/

.deck {
  color: #fff;
  border-radius: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 25em;
  width: 30em;
  margin-right: 14%;
}

.card {
  background: rgb(212, 211, 211);
  border-radius: 10em;
  height: 6em;
  width: 6em;
}

img {
  user-select: none;
  width: 6em;
}
.deck img {
  visibility: hidden;
}
.deck .card.flip {
  background: #92abd4;
  cursor: default;
  transform: rotateY(180deg);
  transition: transform 0.3s linear;
  pointer-events: none;
}
.flip img {
  background: #92abd4;
  visibility: visible;
}
.deck .card.match {
  background: rgb(0, 0, 0);
  visibility: visible;
  cursor: default;
  /* animation: pulse 1s; */
}
.match img {
  background: rgb(255, 255, 255);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 550px) {
  .deck  {
    height: 50em;
  }
  .card {
    height: 10em;
    width: 10em;

  }
  .modal-content h2 {
    font-size: 4em;
  }
  .play-again-btn {
    font-size: 1.8em;
  }
  .moves-counter {
    /* padding: 0.5em; */
    font-size: 20px;
  }
  .reset-btn {
    background: #000;
    /* margin-top: 2px; */
  }
  
  .timer-container {
    background: rgb(172, 21, 21);
    /* border-radius: 0.5em; */
    color: #000;
    font-size: 10px;
    display: flex;
    margin-top: 5%;
  }
}
/* Desktops */
@media screen and (min-width: 800px) {
  
  h1 {
    font-size: 6em;
  }
  p {
    font-size: 2.3em;
  }
  .deck  {
    height: 60em;
    width: 65em;
    margin-left: 12%;
  }
  .card {
    height: 13em;
    width: 13em;
  }
  .deck img {
    width: 13em;
  }
  .reset-btn {
    font-size: 1.5em;
  }
  .footer {
    font-size: 1.2em;
  }
  
  .modal-content h2 {
    font-size: 5em;
  }
  
  .modal-img {
    width: 30em;
  }
  .play-again-btn {
    font-size: 2em;
  }
  .reset-btn {
    background: #000;
    text-align: center;
    justify-content:center;
    align-items:center;
    /* height:30%; */
    width: 61%;
  }
  
  .moves{
    margin:10px auto;
  }
  
  .timer-container {
    background: #92abd4;
    color: #000;
    /* margin-right: 11rem; */
    font-size: 20px;
    margin: 0.5em;
  }
}

